<ul class="list-group list-group-flush text-center">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-6 border-end text-center">
                <div class="description-block p-4">
                    <h5 class="description-header mb-1 font-weight-bold unit-type">Hours</h5>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="description-block text-center p-4">
                    <h5 class="description-header mb-1 font-weight-bold totalunits">1</h5>
                </div>
            </div>
        </div>
    </li> <!--total units-->

    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-6 border-end text-center">
                <div class="description-block p-4">
                    <h5 class="description-header mb-1 font-weight-bold units">My Rate</h5>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="description-block text-center p-4">
                    <h5 class="description-header mb-1 font-weight-bold my-rate"></h5>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-6 border-end text-center">
                <div class="description-block p-4">
                    <h5 class="description-header mb-1 font-weight-bold">Expected</h5>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="description-block text-center p-4">
                    <h5 class="description-header mb-1 font-weight-bold expected-rate"></h5>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-6 border-end text-center">
                <div class="description-block p-4">
                    <h5 class="description-header mb-1 font-weight-bold">Variance</h5>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="description-block text-center p-4">
                    <h5 class="description-header mb-1 font-weight-bold variance-rate">R3,765</h5>
                </div>
            </div>
        </div>
    </li>
</ul>