@model IList<DashboardItem>
@{
    ViewData["Title"] = "Dashboard";

    var sector = Model.First();
}

<div class="container">
    <!--Page header-->
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>

    @{
        @await Component.InvokeAsync("TaskGrade", new { id =sector.Id })
    }

    </div>


@section scripts{
@*    <script src="../../assets/js/index2.js"></script>*@
    <script src="~/js/client.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {

            /*----P-scrolling JS ----*/
            const ps31 = new PerfectScrollbar('.countryscroll', {
                useBothWheelAxes: true,
                suppressScrollX: true,
            });

        $('#table-results').DataTable({
            "bSort": false,
            language: {
                responsive: "true"
            }
        });

            ChartBuilder.CPIvsRate();
            ChartBuilder.RateByGrade();
    });

        var ChartBuilder = {
            CPIvsRate: function () {
                objCPIIndex = [];
                objWageRate = [];
                objFinYear = [];


                var dataContainer = $('.RateByYear');


                $.each(dataContainer, function (index, record) {
                    objCPIIndex.push($(this).data('cpiindex'));
                    objWageRate.push($(this).data('wagerate'));
                    objFinYear.push($(this).data('finyear'));
                });

                var chartdata3 = [
                    {
                        name: 'CPI Index',
                        type: 'line',
                        smooth: true,
                        data: objCPIIndex,
                        lineStyle: {
                            normal: {
                                opacity: 0.8,
                                width: 4,
                                curveness: 1
                            }
                        }
                    },
                    {
                        name: 'Wage Rate',
                        type: 'line',
                        smooth: true,
                        data: objWageRate,
                        lineStyle: {
                            normal: {
                                opacity: 0.8,
                                width: 4,
                                curveness: 1
                            }
                        }
                    }
                ];

                var option5 = {
                    grid: {
                        top: '6',
                        right: '0',
                        bottom: '17',
                        left: '35',
                    },
                    tooltip: {
                        show: true,
                        showContent: true,
                        alwaysShowContent: true,
                        triggerOn: 'mousemove',
                        trigger: 'axis',
                        axisPointer:
                        {
                            label: {
                                show: false,
                            }
                        }

                    },
                    xAxis: {
                        data: objFinYear,
                        axisLine: {
                            lineStyle: {
                                color: 'rgba(67, 87, 133, .09)'
                            }
                        },
                        axisLabel: {
                            fontSize: 10,
                            color: '#8e9cad'
                        }
                    },
                    yAxis: {
                        splitLine: {
                            lineStyle: {
                                color: 'rgba(67, 87, 133, .09)'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: 'rgba(67, 87, 133, .09)'
                            }
                        },
                        axisLabel: {
                            fontSize: 10,
                            color: '#8e9cad'
                        }
                    },
                    series: chartdata3,
                    color: ['#4454c3', '#f72d66']
                };
                var chart5 = document.getElementById('echart1');
                var barChart5 = echarts.init(chart5);
                barChart5.setOption(option5);
            },
            RateByGrade: function () {
                objArr = [];
                objFinYear = [];


                var dataContainer = $('.RateByGrade');


                $.each(dataContainer, function (index, record) {
                    objArr.push($(this).data('count'));
                    objFinYear.push($(this).data('id'));
                });

                var chartdata3 = [
                    {
                        name: 'Wage Rate',
                        type: 'bar',
                        smooth: true,
                        data: objArr,
                        //lineStyle: {
                        //    normal: {
                        //        opacity: 0.8,
                        //        width: 4,
                        //        curveness: 1
                        //    }
                        //}
                    }
                ];

                var option5 = {
                    grid: {
                        top: '6',
                        right: '0',
                        bottom: '17',
                        left: '35',
                    },
                    tooltip: {
                        show: true,
                        showContent: true,
                        alwaysShowContent: true,
                        triggerOn: 'mousemove',
                        trigger: 'axis',
                        axisPointer:
                        {
                            label: {
                                show: false,
                            }
                        }

                    },
                    xAxis: {
                        data: objFinYear,
                        axisLine: {
                            lineStyle: {
                                color: 'rgba(67, 87, 133, .09)'
                            }
                        },
                        axisLabel: {
                            fontSize: 10,
                            color: '#8e9cad'
                        }
                    },
                    yAxis: {
                        splitLine: {
                            lineStyle: {
                                color: 'rgba(67, 87, 133, .09)'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: 'rgba(67, 87, 133, .09)'
                            }
                        },
                        axisLabel: {
                            fontSize: 10,
                            color: '#8e9cad'
                        }
                    },
                    series: chartdata3,
                    color: ['#4454c3', '#f72d66']
                };
                var chart5 = document.getElementById('gradeChart');
                var barChart5 = echarts.init(chart5);
                barChart5.setOption(option5);
            },
        }
    </script>


    }