<div class="card">
    <div class="card-header">
        <h3 class="card-title">About SWC Tracker</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p class="text-sm-start text-left padding-t-b-30 text-wrap">
                    We collect and present agreed salary rates agreed on a sector by sector basis. This information is benchmarked against annual inflations (CPI Index). This information is meant to help assist workers and their representative if their earnings are fair and not eroded by inflation.
                </p>
            </div>
        </div>
        <hr />
        <fieldset>
            <legend>Target Audience</legend>
            <p>
                <ul class="list-group">
                    <li class="list-group-item">Collective Bragaining Councils</li>
                    <li class="list-group-item">Employer Associations</li>
                    <li class="list-group-item">Trade Unions(Worker representatives)</li>
                    <li class="list-group-item">Construction Sector Emmployees</li>
                    <li class="list-group-item">Labour Regulatory Authorities</li>
                </ul>
            </p>
        </fieldset>
        <fieldset>
            <legend>Contact</legend>
            <div class="media py-4 border-top mt-0">
                <div class="media-body">
                    <div class="d-flex">
                        <div class="media-icon bg-light text-primary me-3 mt-1">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div>
                            <label>Work</label> <span class="font-weight-semibold fs-14">+27 (78) 422 5989</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        
                        <div>
                            <label>Email</label> <span class="font-weight-semibold fs-14">swctracker@algotec.co.za</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="media-icon bg-light text-primary me-3 mt-1">
                           
                        </div>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=algotech.co.za.sectorworkingcondition" class="btn btn-md btn-warning">
                            <span class="s-btn__element--left">
                                <i class="g-font-size-32--xs ti-android"></i>
                            </span>
                        Download Google-Play
                    </a>
                    </div>
                    </div>
            </div>
        </fieldset>
    </div>

    <div class="card-footer text-center border-end-0 border-start-0">
        <a class="btn btn-md btn-default btn-block" href="#"><i class="text-secondary si si-cup"></i> Buy me a coffee</a>
    </div>
</div>