<div class="panel price  panel-color">
    <div class="bg-white text-center price-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="orange" fill-opacity="1" d="M0,96L48,133.3C96,171,192,245,288,266.7C384,288,480,256,576,240C672,224,768,224,864,192C960,160,1056,96,1152,106.7C1248,117,1344,203,1392,245.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
        </svg>
        <div class="price-title">Data Source</div>
    </div>
    <div class="panel-body text-center pt-0">
        <p class="lead font-weight-semibold">
            <strong>
                <a target="_blank" title="BCCEI" href="@Url.Content("https://bccei.co.za/")">
                    BCCEI
                </a>
            </strong>
        </p>
    </div>
    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">
            <strong>Bargaining Council of Civil Engineering</strong>
        </li>
        <li class="list-group-item">
            <strong>Patterson Grading System</strong>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-12 border-end text-center">
                    <div class="description-block p-4">
                        <h5 class="description-header mb-1 font-weight-bold">Signatories</h5>
                    </div>
                    <div class="description-block text-center p-4">
                        <ul class="list-group">
                            <li class="list-group-item">BCCEI</li>
                            <li class="list-group-item">SAFEC</li>
                            <li class="list-group-item">NUM</li>
                            <li class="list-group-item">BCAWU</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="panel-footer text-center border-end-0 border-start-0">
        <a class="btn btn-lg btn-default btn-block" href="/Disclaimer">Disclaimer</a>
    </div>
</div>