<!-- Back to top -->
<a href="#top" id="back-to-top">
    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" /></svg>
</a>

<!-- Jquery js-->
<script src="../../assets/js/vendors/jquery.min.js"></script>

<!-- Bootstrap5 js-->
<script src="../../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!--Othercharts js-->
<script src="../../assets/plugins/othercharts/jquery.sparkline.min.js"></script>

<!-- Circle-progress js-->
<script src="../../assets/js/vendors/circle-progress.min.js"></script>

<!-- Jquery-rating js-->
<script src="../../assets/plugins/rating/jquery.rating-stars.js"></script>

<!--Horizontal js-->
<script src="../../assets/plugins/horizontal-menu/horizontal.js"></script>

<!-- Jquery.steps js -->
<script src="../../assets/plugins/jquery-steps/jquery.steps.min.js"></script>
<script src="../../assets/plugins/parsleyjs/parsley.min.js"></script>

<!-- Forn-wizard js-->
<script src="../../assets/plugins/formwizard/jquery.smartWizard.js"></script>
<script src="../../assets/plugins/formwizard/fromwizard.js"></script>

<!--Accordion-Wizard-Form js-->
<script src="../../assets/plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js"></script>
<script src="../../assets/js/form-wizard.js"></script>
<script src="../../assets/js/form-wizard2.js"></script>

<!-- Custom js-->
<script src="../../assets/js/custom.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
