<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="SWC Tracker - Sector Working Conditions Tracker" name="description">
    <meta content="Algotec Software Solutions" name="author">
    <meta name="keywords" content="working conditions, tracker, sector, construction, BCCEI, Collective Bargaining, Trade Union, Labour Act, labour complaiant, incident report, patterson grading system, south africa construction, wage rates, salary calculator, cpi index, labour analytics" />

    <!-- Title -->
    <title>SWC Tracker - Sector Working Conditions Tracker</title>

    <!--Favicon -->
    <link rel="icon" href="../../assets/images/brand/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/boxed.css" rel="stylesheet" />
    <link href="../../assets/css/dark-boxed.css" rel="stylesheet" />

    <!-- Dark css -->
    <link href="../../assets/css/dark.css" rel="stylesheet" />

    <!-- Skins css -->
    <link href="../../assets/css/skins.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="../../assets/css/animated.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="../../assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="../../assets/plugins/web-fonts/icons.css" rel="stylesheet" />
    <link href="../../assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="../../assets/plugins/web-fonts/plugin.css" rel="stylesheet" />

    <!-- Forn-wizard css-->
    <link href="../../assets/plugins/form-wizard/css/forn-wizard.css" rel="stylesheet" />
    <link href="../../assets/plugins/formwizard/smart_wizard.css" rel="stylesheet">
    <link href="../../assets/plugins/formwizard/smart_wizard_theme_dots.css" rel="stylesheet">

</head>
<!---Global-loader-->
<div id="global-loader">
    <img src="../../assets/images/svgs/loader.svg" alt="loader">
</div>