<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SWCTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SWCTracker.styles.css" asp-append-version="true" />
</head>
<body class="light-mode">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5V56C22L"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  <partial name="_Head" />

    <div class="page">
        <div class="page-main">
            <partial name="_NavBar" />
            <div class="app-content page-body">
                <div class="container">
            @RenderBody()
                </div>
            </div>
            <!-- end app-content-->
        </div>

        <partial name="_Footer" />

    </div>
    <partial name="_FooterScripts" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
