@model ComplaintViewModel
<div id="step-11" class="">

                    <div class="row">
                        <div class="col-12">
                            <label class="radio field-required" for="8">Referral Party</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group">
                                <li class="list-group-item clearfix">
                                    <div class="row">
                                        <span class="col-md-8 col-sm-8">
                                            <label class="radio field-required" for="6">
                                                I/We the undersigned refer the following complaint to the Bargaining Council to be investigated
                                            </label>
                                        </span>
                                        <span class="col-md-4 col-sm-4">
                                            <label class="radio-inline">
                                <input type="radio" class=" book-class subscription-class" name="IsEmployeeRepresentative" value="true"> Employee
                                            </label>
                                            <label class="radio-inline">
                                <input type="radio" class=" book-class subscription-class" name="IsEmployeeRepresentative" value="false">TradeUnion
                                            </label>
                                        </span>
                                    </div>
                                </li>
                                <li class="list-group-item clearfix">
                                    <div class="row">
                                        <span class="col-md-8 col-sm-8">
                                            <label class="radio field-required" for="8">
                                                If the referring party is a Trade Union, please indicate if you are a party to the Bargaining Council
                                            </label>
                                        </span>
                                        <span class="col-md-4 col-sm-4">
                                            <label class="radio-inline">
                                <input type="radio" class=" hasquantity subscription-class" name="IsBargainingCouncilParty" value="true"> Yes
                                            </label>
                                            <label class="radio-inline">
                                <input type="radio" class=" hasquantity subscription-class" name="IsBargainingCouncilParty" value="false">No
                                            </label>
                                        </span>
                                    </div>
                                </li>
                <li class="list-group-item clearfix">
                    <div class="row">
                        <span class="col-md-8 col-sm-8">
                            <label class="radio" for="8">
                               Trade Union
                            </label>
                        </span>
                        <div class="col-md-4 col-sm-4">
                            <div class="custom-controls-stacked">
                                @foreach (var selectListItem in Model.TradeUnions)
                                {
                                    <label class="custom-control custom-radio">

                                        <input type="radio" class="custom-control-input" name="TradeUnionIds" value="@selectListItem.Value">
                                        <span class="custom-control-label">@selectListItem.Text</span>
                                    </label>
                                }
                            </div>

                        </div>
                    </div>
                </li>
                            </ul>


                        </div>
                    </div>
</div>