@model ComplaintViewModel
<div id="step-12" class="">
    <form>
        <div class="mb-3">
            <label>User Name</label>
            <input type="text" class="form-control" id="inputtext" placeholder="Enter User Name">
        </div>
        <div class="mb-3">
            <label>Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail8" placeholder="Enter email address">
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" id="exampleInputPassword9" placeholder="Password">
        </div>
        <div class="mb-0 justify-content-end">
            <div class="">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                    <span class="custom-control-label">Check me Out</span>
                </label>
            </div>
        </div>
    </form>
</div>