@model ComplaintViewModel
@{
    ViewData["Title"] = "Complaint";
}




                <div class="container">

                    <!--Page header-->
                    <div class="page-header">
                        <div class="page-leftheader">
            <h4 class="page-title">Bargaining Council Complaint Form</h4>
                        </div>
                        <div class="page-rightheader ms-auto d-lg-flex d-none">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" /><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" /></svg><span class="breadcrumb-icon"> Dashboard</span></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Complaint Capture</li>
                            </ol>
                        </div>
                    </div>

    <div id="divSaveResults" class="alert" style="display:none">

        <span id="spanGlyphicon" class='glyphicon'></span> &nbsp;<strong>
            <span id="spanSaveResults"></span>
        </strong>
    </div>
    <div id="save-confirmation" style="display:none">
        <div class="alert alert-info">
            Your complaint has been submitted successfully!!
        </div>

    </div>


                    <!--End Page header-->
                    <!--row open-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Complaint Details</h3>
                                </div>
                                <div class="card-body">
                                                         @using (Html.BeginForm("SaveModel", "Complaint", FormMethod.Post, new { id = "form-main", @class = "for-horizontal", role = "form" }))
        {
                        <div asp-validation-summary="All" class="text-danger"></div>
           
                    <div id="complaintWizard">
     
            
                                        <ul>
                                            <li><a href="#step-10">Personal Details</a></li>
                                            <li><a href="#step-11">Referral Details</a></li>
                                            <li><a href="#step-12">Employment Details</a></li>
                                            <li><a href="#step-13">Complaint</a></li>
                                        </ul>
                                        <div>
                            @Html.Partial("_PersonalDetail")
                            @Html.Partial("_ReferrerDetail")
                            @Html.Partial("_EmploymentDetail")
                            @Html.Partial("_ComplaintDetail")

                                        
                                        </div>

                        </div>
                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--row closed-->
                </div>

@section scripts{
    <script src="~/js/basiccrud.js"></script>
<script src="~/js/complaint.js"></script>
}