@model ComplaintViewModel
@{
    ViewData["Title"] = "Complaint";
}




                <div class="container">

                    <!--Page header-->
                    <div class="page-header">
                        <div class="page-leftheader">
                            <h4 class="page-title">Form-wizard</h4>
                        </div>
                        <div class="page-rightheader ms-auto d-lg-flex d-none">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" /><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" /></svg><span class="breadcrumb-icon"> Home</span></a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form-wizard</li>
                            </ol>
                        </div>
                    </div>
                    <!--End Page header-->
                    <!--row open-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Bargaining Council Complaint Form</h3>
                                </div>
                                <div class="card-body">
                                    <div id="smartwizard-3">
                                        <ul>
                                            <li><a href="#step-10">Personal Details</a></li>
                                            <li><a href="#step-11">Referral Details</a></li>
                                            <li><a href="#step-12">Employer Detail</a></li>
                                            <li><a href="#step-13">Employement Details</a></li>
                                            <li><a href="#step-14">Complaint</a></li>
                                        </ul>
                                        <div>
                            @Html.Partial("_PersonalDetail")
                            @Html.Partial("_ReferrerDetail")
                                           
                                            <div id="step-13" class="">
                                                <div class="mb-0 justify-content-end">
                                                    <div class="">
                                                        <label class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
                                                            <span class="custom-control-label">I agree terms & Conditions</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--row closed-->
                </div>
           